<?xml version="1.0" encoding="UTF-8"?>
<!--

    Waffle (https://github.com/dblock/waffle)

    Copyright (c) 2010-2016 Application Security, Inc.

    All rights reserved. This program and the accompanying materials are made available under the terms of the Eclipse
    Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.

    Contributors: Application Security, Inc.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- windows authentication provider -->
    <bean id="waffleWindowsAuthProvider" class="waffle.mock.MockWindowsAuthProvider" />

    <!-- collection of security filters -->
    <bean id="negotiateSecurityFilterProvider" class="waffle.servlet.spi.NegotiateSecurityFilterProvider">
        <constructor-arg ref="waffleWindowsAuthProvider" />
        <property name="protocols">
            <list>
                <value>NTLM</value>
                <value>Negotiate</value>
            </list>
        </property>
    </bean>

    <bean id="basicSecurityFilterProvider" class="waffle.servlet.spi.BasicSecurityFilterProvider">
        <constructor-arg ref="waffleWindowsAuthProvider" />
        <property name="realm" value="TestRealm" />
    </bean>

    <bean id="waffleSecurityFilterProviderCollection" class="waffle.servlet.spi.SecurityFilterProviderCollection">
        <constructor-arg>
            <list>
                <ref bean="negotiateSecurityFilterProvider" />
                <ref bean="basicSecurityFilterProvider" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="negotiateSecurityFilterEntryPoint" class="waffle.spring.NegotiateSecurityFilterEntryPoint">
        <property name="provider" ref="waffleSecurityFilterProviderCollection" />
    </bean>

    <bean id="waffleNegotiateSecurityFilter" class="waffle.spring.NegotiateSecurityFilter">
        <property name="provider" ref="waffleSecurityFilterProviderCollection" />
        <property name="allowGuestLogin" value="false" />
        <property name="principalFormat" value="fqn" />
        <property name="roleFormat" value="both" />
    </bean>

    <bean id="waffleDelegatingNegotiateSecurityFilter" class="waffle.spring.DelegatingNegotiateSecurityFilter">
        <property name="provider" ref="waffleSecurityFilterProviderCollection" />
        <property name="allowGuestLogin" value="false" />
        <property name="principalFormat" value="fqn" />
        <property name="roleFormat" value="both" />
        <property name="accessDeniedHandler" ref="customAccessDeniedHandler"/>
    </bean>

    <!-- custom access denied handler -->
    <bean id="customAccessDeniedHandler" class="waffle.spring.handlers.CustomAccessDeniedHandler" />
</beans>
