# Eclipse
*.factorypath
/.apt_generated_tests/
.classpath
.settings
.project
.tern-project
.sts4-cache/
target

# Intellij
.idea
.iml

# .net
.vs
GlobalAssemblyInfo.cs
Version.properties
Version.wxi
bin
obj
Debug
Release
Waffle.sln.cache
Waffle.suo
*.csproj.user

# Maven
*.releaseBackup
**/.mvn/wrapper/maven-wrapper.jar

# nuget
.nuget
*.nupkg

# sonarqube
.sonar_lock

# windows
Thumbs.db
Source/JNA/release.properties
.cache/
.profiler/
.github/keys/
.checkstyle
.pmd
.pmdruleset.xml
wget-log
