Source/Common/GlobalAssemblyInfo.cs
Source/Version/Version.properties
Source/Version/Version.wxi
bin
obj
Debug
Release
TestResult.xml
Source/JNAWindowsAuthProvider/build
Source/JNAWindowsAuthProvider/lib-test
Source/JNAWindowsAuthProvider/lib
Source/JNAWindowsAuthProvider/test
Source/JNAWindowsAuthProvider/doc
