Source/Common/GlobalAssemblyInfo.cs
Source/Version/Version.properties
Source/Version/Version.wxi
bin
obj
Debug
Release
target
TestResult.xml
Source/JNA/**/.classpath
Source/JNA/**/.settings
Source/JNA/**/.project
Thumbs.db
Waffle.sln.cache
Waffle.suo
*.csproj.user
.tern-project
