<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="testDomainDNS" value="nycapt35k.com" />
    <add key="testDomainNETBIOS" value="NYCAPT35K" />
    <add key="testUsername" value="buildapp" />
    <add key="testPassword" value="password" />
  </appSettings>
</configuration>