<?xml version="1.0" encoding="UTF-8"?>
<?include ..\Version\Version.wxi ?>
<?ifndef Configuration ?>
 <?ifdef Debug ?>
  <?define Configuration=Debug?>
 <?else ?>
  <?define Configuration=Release?>
 <?endif ?>
<?endif ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module Id="WindowsAuthProviderMSM" Language="1033" Version="$(var.ProductVersion)">
        <Package Id="80101f8b-1c44-4c7d-969b-0731b162d54b" Manufacturer="$(var.CompanyName)" InstallerVersion="200" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="MergeRedirectFolder">
                <Component Id="WindowsAuthProvider" Guid="74ad70ef-aa1a-4d8f-a31c-dda1716b7dd1">
                    <File Id="WindowsAuthProviderDll" Source="$(var.MSBuildProjectDirectory)\Source\WindowsAuthProvider\bin\$(var.Configuration)\Waffle.Windows.AuthProvider.dll" KeyPath="yes" Name="Waffle.Windows.AuthProvider.dll" />
                    <RegistryKey Id="RegAdvapi32.LogonType" Root="HKCR" Key="Record\{FA3F1B69-D60F-4CBF-9A44-8CE47E5C9FF3}\$(var.ProductVersion)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Name="Class" Value="Waffle.Windows.Advapi32+LogonType" />
                        <RegistryValue Type="string" Name="Assembly" Value="Waffle.Windows.AuthProvider" />
                        <RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727" />
                        <RegistryValue Type="string" Name="CodeBase" Value="[#WindowsAuthProviderDll]" />
                    </RegistryKey>
                    <RegistryKey Id="RegAdvapi32.LogonProvider" Root="HKCR" Key="Record\{32843EC8-13A5-499A-AED3-EAEB08C3381A}\$(var.ProductVersion)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Name="Class" Value="Waffle.Windows.Advapi32+LogonProvider" />
                        <RegistryValue Type="string" Name="Assembly" Value="Waffle.Windows.AuthProvider" />
                        <RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727" />
                        <RegistryValue Type="string" Name="CodeBase" Value="[#WindowsAuthProviderDll]" />
                    </RegistryKey>
                    <RegistryKey Id="RegAdvapi32.SID_NAME_USE" Root="HKCR" Key="Record\{673D9C4F-13FD-430C-AFD1-4E706FFC0DC4}\$(var.ProductVersion)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Name="Class" Value="Waffle.Windows.Advapi32+SID_NAME_USE" />
                        <RegistryValue Type="string" Name="Assembly" Value="Waffle.Windows.AuthProvider" />
                        <RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727" />
                        <RegistryValue Type="string" Name="CodeBase" Value="[#WindowsAuthProviderDll]" />
                    </RegistryKey>
                    <RegistryKey Id="RegAuth" Root="HKCR" Key="Waffle.Windows.AuthProvider" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Value="Waffle.Windows.AuthProvider.WindowsAuthProviderImpl" />
                    </RegistryKey>
                    <RegistryKey Id="RegAuthCLSID" Root="HKCR" Key="Waffle.Windows.AuthProvider\CLSID" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Value="{78FA881E-5141-3B68-A76C-487871F4846A}" />
                    </RegistryKey>
                    <RegistryKey Id="RegAuthCLSIDGuid" Root="HKCR" Key="CLSID\{78FA881E-5141-3B68-A76C-487871F4846A}" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Value="Waffle.Windows.AuthProvider.WindowsAuthProviderImpl" />
                    </RegistryKey>
                    <RegistryKey Id="RegAuthCLSIDGuidIS32" Root="HKCR" Key="CLSID\{78FA881E-5141-3B68-A76C-487871F4846A}\InprocServer32" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Value="mscoree.dll" />
                        <RegistryValue Type="string" Name="ThreadingModel" Value="Both" />
                        <RegistryValue Type="string" Name="Class" Value="Waffle.Windows.AuthProvider.WindowsAuthProviderImpl" />
                        <RegistryValue Type="string" Name="Assembly" Value="Waffle.Windows.AuthProvider" />
                        <RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727" />
                        <RegistryValue Type="string" Name="CodeBase" Value="[#WindowsAuthProviderDll]" />
                    </RegistryKey>
                    <RegistryKey Id="RegAuthCLSIDGuidIS32Ver" Root="HKCR" Key="CLSID\{78FA881E-5141-3B68-A76C-487871F4846A}\InprocServer32\$(var.ProductVersion)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Name="Class" Value="Waffle.Windows.AuthProvider.WindowsAuthProviderImpl" />
                        <RegistryValue Type="string" Name="Assembly" Value="Waffle.Windows.AuthProvider" />
                        <RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727" />
                        <RegistryValue Type="string" Name="CodeBase" Value="[#WindowsAuthProviderDll]" />
                    </RegistryKey>
                    <RegistryKey Id="RegAuthCLSIDProgId" Root="HKCR" Key="CLSID\{78FA881E-5141-3B68-A76C-487871F4846A}\ProgId" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Value="Waffle.Windows.AuthProvider" />
                    </RegistryKey>
                    <RegistryKey Id="RegAuthCLSIDCategories" Root="HKCR" Key="CLSID\{78FA881E-5141-3B68-A76C-487871F4846A}\Implemented Categories\{62C8FE65-4EBB-45E7-B440-6E39B2CDBF29}" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
                </Component>
            </Directory>
        </Directory>
    </Module>
</Wix>
