<?xml version="1.0" encoding="UTF-8"?>
<!--

    Waffle (https://github.com/dblock/waffle)

    Copyright (c) 2010-2016 Application Security, Inc.

    All rights reserved. This program and the accompanying materials are made available under the terms of the Eclipse
    Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.

    Contributors: Application Security, Inc.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>waffle.servlet.NegotiateSecurityFilter</filter-class>
        <init-param>
            <param-name>principalFormat</param-name>
            <param-value>fqn</param-value>
        </init-param>
        <init-param>
            <param-name>roleFormat</param-name>
            <param-value>both</param-value>
        </init-param>
        <init-param>
            <param-name>allowGuestLogin</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>securityFilterProviders</param-name>
            <param-value>
                waffle.servlet.spi.NegotiateSecurityFilterProvider
                waffle.servlet.spi.BasicSecurityFilterProvider
            </param-value>
        </init-param>
        <init-param>
            <param-name>waffle.servlet.spi.NegotiateSecurityFilterProvider/protocols</param-name>
            <param-value>
                Negotiate
                NTLM
            </param-value>
        </init-param>
        <init-param>
            <param-name>waffle.servlet.spi.BasicSecurityFilterProvider/realm</param-name>
            <param-value>WaffleFilterDemo</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- System Information Helpful for debugging -->
    <servlet>
        <servlet-name>WaffleInfo</servlet-name>
        <servlet-class>waffle.servlet.WaffleInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WaffleInfo</servlet-name>
        <url-pattern>/waffle</url-pattern>
    </servlet-mapping>

</web-app>
