name: Coverity

on:
  push:
    branches:
      - coverity_scan

jobs:
  build:
    if: github.repository_owner == 'waffle'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: zulu
      - name: Analyze with Coverity
        run: |
          wget -q https://scan.coverity.com/download/linux64 --post-data "token=$COVERITY_TOKEN&project=Waffle%2Fwaffle" -O coverity_tool.tgz
          tar -xf coverity_tool.tgz
          ./cov-analysis-linux64-*/bin/cov-build --dir cov-int ./mvnw -B -DskipTests=true -D"license.skip=true" verify
          tar czvf waffle.tgz cov-int
          curl --form token=$COVERITY_TOKEN \
            --form email=$EMAIL \
            --form file=@waffle.tgz \
            --form version="waffle/coverity_scan" \
            --form description="Waffle Coverity Scan" \
            https://scan.coverity.com/builds?project=Waffle%2Fwaffle
        env:
          COVERITY_TOKEN: ${{ secrets.COVERITY_TOKEN }}
          EMAIL: ${{ secrets.EMAIL }}
