name: SonarCloud

defaults:
  run:
    working-directory: Source/JNA

on:
  push:
    branches:
      - master

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SONAR_ORGANIZATION: waffle
  SONAR_PROJECT_KEY: Waffle_waffle

jobs:
  build:
    if: github.repository_owner == 'waffle'
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          cache: maven
          distribution: temurin
          java-version: 25
      - name: Set SONAR_SCANNER_JAVA_OPTS
        run: echo "SONAR_SCANNER_JAVA_OPTS=-Xmx512m" >> ${GITHUB_ENV}
      - name: Analyze with SonarCloud
        run: ./mvnw verify jacoco:report sonar:sonar --batch-mode --no-transfer-progress --show-version -D"license.skip=true" -D"sonar.host.url=https://sonarcloud.io" -D"sonar.organization=${{ env.SONAR_ORGANIZATION }}" -D"sonar.projectKey=${{ env.SONAR_PROJECT_KEY }}" -D"sonar.scanner.skipJreProvisioning=true" -D"sonar.token=${{ secrets.SONAR_TOKEN }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
